PROXMOX_VE_ENDPOINT="https://{proxmox_host}"
PROXMOX_VE_API_TOKEN="op://{path/to/token}"
PROXMOX_VE_INSECURE="{boolean}"

TF_VAR_proxmox_endpoint=${PROXMOX_VE_ENDPOINT}
TF_VAR_proxmox_api_token=${PROXMOX_VE_API_TOKEN}
TF_VAR_proxmox_insecure=${PROXMOX_VE_INSECURE}

TF_VAR_pve_node="{name}"
TF_VAR_ssh_public_key="op://{path/to/public_key}"

DAYZ_ADMIN_PASSWORD="op://{path/to/admin_password}"
DAYZ_RCON_PASSWORD="op://{path/to/rcon_password}"
