#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.local
manage_etc_hosts: true

users:
  - name: debian
    gecos: DayZ Server Admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_key}

package_update: true
package_upgrade: true
packages:
  - curl
  - wget
  - qemu-guest-agent
  - ufw

runcmd:
  - systemctl start qemu-guest-agent
  - systemctl enable qemu-guest-agent
